.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .search-group {
        display: flex;
        align-items: center;
        gap: 10px;
    
        .search-input {
            width: 250px;
        }
    
        button {
            margin-left: 10px;
        }
    }

    .button-group {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    @media (max-width: 960px) {
        flex-direction: column;
        align-items: stretch;

        .search-group,
        .button-group {
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            
            .search-input,
            button {
                width: 100%;
                margin-left: 0;
            }
        }

        .search-group {
            margin-bottom: 10px; 
        }

        .button-group {
            button {
                margin-top: 10px; 
            }
        }
    }
}

.card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-actions {
        display: flex;
        gap: 10px;
    }
}

.account-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.account-item {
    display: flex;
    align-items: center;
}

.account-key {
    font-weight: 600;
    width: 150px;
    margin-right: 10px;
}

.account-value {
    text-align: left; 
    flex-grow: 1;
    word-break: break-word;
}

